header {
    height: 200px;
}

div #gameboard {
    width: 300px;
    height: 400px;
    background: black;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.hidden {
    height: 100px;
    width: 100px;
    float: left;
    outline: 1px solid black;
    background: gray;
}